# Server Configuration
API_URL=http://localhost:5000/api

# Pour Android Emulator, utiliser: http://10.0.2.2:5000/api
# Pour iOS Simulator, utiliser: http://localhost:5000/api
# Pour device physique, utiliser l'IP de votre machine: http://192.168.x.x:5000/api

# Expo
EXPO_PUBLIC_API_URL=http://localhost:5000/api
